<div>
  <div class="filter-bar">
    <mat-form-field appearance="fill" class="filter">
      <mat-label>Filtre produit</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="filterControl" />
      <mat-hint>Entrer le nom du produit</mat-hint>
    </mat-form-field>
  </div>

  <div class="card-display">
    <mat-card class="card" *ngFor="let d of filteredProducts">
      <mat-card-header>
        <mat-card-title>{{ d.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ d.img }}" />
      <mat-card-content>
        <p>{{ d.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>J'aime</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
